{% extends 'base.html' %}

{% block title %} About {% endblock title %} 

{% block body %}
<p class="text-center fs-1 fw-bold">COMING SOON</p>

<div class="container-fluid my-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/run.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/run.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/run.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
</div>

{% endblock body %}
