{% extends 'base.html' %}

{% block title %} About {% endblock title %} 

{% block body %}

<table class="table table-bordered " >
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">FirstName</th>
          <th scope="col">User's Turn</th>
          <th scope="col">All Time Average for 100m</th>
          <th scope="col">All Time Average for 200m</th>
      </tr>
  </thead>
  <tbody>
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.item}}</td>
        <td>True</td>
        
    </tr>
</tbody>
</table>
<p class="text-center fs-4 fw-bold " style="background-color: greenyellow;">
  Gate is Ready for 100m
</p>
<table class="table table-bordered " >
  <tr>
    <th scope="col">Time Started</th>
    <th scope="col">Time Ended</th>

    <tbody>
      <tr>
        <td id="lap">{{lap}}</td>
          <td id="value">{{value}}</td>
      </tr>
  </tbody>
</table>

<p class="text-center fs-4 fw-bold">All Time Average for 200m</p>
<table class="table table-bordered " >
  <tr>
    <th scope="col">Time Started</th>
    <th scope="col">Time Ended</th>


</table>
<script>
  var socket = new WebSocket('ws://localhost:8000/<list_id>/start/ws/')
  socket.onmessage = function(){
    var data = JSON.parse(event.data)
    console.log(data)
    document.querySelector('#lap').innerText = data.lapNumber
    document.querySelector('#value').innerText = data.value
  }
</script>
{% endblock body %}

